<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotis_mini">

  <xacro:include filename="$(find robotis_mini_model)/urdf/components.urdf.xacro"/> 

  <xacro:macro name="torso" params="base_link">    
    <xacro:robotis_mini_link name="${base_link}" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="DMB-B02(W).stl"/>
    
    <xacro:robotis_mini_link name="torso_cover" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="DMF-B01(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="${base_link}_to_torso_cover" parent_link="${base_link}" child_link="torso_cover" origin_xyz="0 0.04 -0.01" origin_rpy="0 0 0" /> 

    <xacro:robotis_mini_motor name="head_m" origin_xyz="0 0 0" origin_rpy="0 0 0"/>
    <xacro:robotis_mini_fixed_joint name="$torso_cover_to_head_m" parent_link="torso_cover" child_link="head_m" origin_xyz="0 0.036 0.005" origin_rpy="${PI/2.0} ${PI} 0" /> 

    <xacro:robotis_mini_link name="head" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="DMF-F01(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="$head_m_to_head" parent_link="head_m" child_link="head" origin_xyz="0.0 -0.021 0.002" origin_rpy="${-PI/2.0} 0 ${PI}" /> 
    
    
    <xacro:robotis_mini_motor name="shoulder_m1" origin_xyz="0 0 0" origin_rpy="0 0 0"/>
    <xacro:robotis_mini_fixed_joint name="${base_link}_to_shoulder_m1" parent_link="${base_link}" child_link="shoulder_m1" origin_xyz="0.024 0.0415 -0.0145" origin_rpy="${-PI/2.0} 0 ${-PI/2.0}" /> 
    
    <xacro:robotis_mini_link name="shoulder_m1_plate" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPU-5(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="shoulder_m1_to_shoulder_m1_plate" parent_link="shoulder_m1" child_link="shoulder_m1_plate" origin_xyz="0 -0.024 0" origin_rpy="0 0 ${PI}" /> 
    
    <xacro:robotis_mini_motor name="shoulder_m2" origin_xyz="0 0 0" origin_rpy="0 0 0"/>
    <xacro:robotis_mini_fixed_joint name="${base_link}_to_shoulder_m2" parent_link="${base_link}" child_link="shoulder_m2" origin_xyz="-0.024 0.0415 -0.0145" origin_rpy="${-PI/2.0} 0 ${PI/2.0}" /> 
    
    <xacro:robotis_mini_link name="shoulder_m2_plate" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPU-5(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="shoulder_m2_to_shoulder_m1_plate" parent_link="shoulder_m2" child_link="shoulder_m2_plate" origin_xyz="0 -0.024 0" origin_rpy="0 0 ${PI}" /> 
    
    <xacro:robotis_mini_motor name="hip_m1" origin_xyz="0 0 0" origin_rpy="0 0 0"/>
    <xacro:robotis_mini_fixed_joint name="${base_link}_to_hip_m1" parent_link="${base_link}" child_link="hip_m1" origin_xyz="0.024 -0.03 -0.033" origin_rpy="0 0 ${PI}" /> 
    
    <xacro:robotis_mini_link name="hip_m1_plate" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPU-5(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="hip_m1_to_hip_m1_plate" parent_link="hip_m1" child_link="hip_m1_plate" origin_xyz="0 -0.024 0" origin_rpy="0 0 ${PI}" /> 
    
    <xacro:robotis_mini_link name="hip_m1_plate2" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPD-7V4(W).stl"/>
    <xacro:robotis_mini_revolute_joint name="hip_m1_to_hip_m1_plate2" parent_link="hip_m1" child_link="hip_m1_plate2" axis_xyz="0 1 0" origin_xyz="0.0 0 0.017" origin_rpy="${PI/2.0} 0 ${PI/2.0}" /> 
    
    <xacro:robotis_mini_motor name="hip_m2" origin_xyz="0 0 0" origin_rpy="0 0 0"/>
    <xacro:robotis_mini_fixed_joint name="${base_link}_to_hip_m2" parent_link="${base_link}" child_link="hip_m2" origin_xyz="-0.024 -0.03 -0.033" origin_rpy="0 0 ${PI}" /> 
    
    <xacro:robotis_mini_link name="hip_m2_plate" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPU-5(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="hip_m2_to_hip_m2_plate" parent_link="hip_m2" child_link="hip_m2_plate" origin_xyz="0 -0.024 0" origin_rpy="0 0 ${PI}" /> 
    
    <xacro:robotis_mini_link name="hip_m2_plate2" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPD-7V4(W).stl"/>
    <xacro:robotis_mini_revolute_joint name="hip_m2_to_hip_m2_plate2" parent_link="hip_m2" child_link="hip_m2_plate2" axis_xyz="0 -1 0" origin_xyz="0.0 0 0.017" origin_rpy="${PI/2.0} 0 ${PI/2.0}" /> 
  </xacro:macro>
</robot>
