<launch>
  <!-- launches the bridge to the real robot using pypot -->
  <include file="$(find robotis_mini_control)/launch/poppy_joint_state_publisher.launch" />
  
  <!-- run the walker node: listens to walking commands and generates walking trajectories as a combination of sinusoiods (CPG) -->
  <node name="robotis_mini_walker" pkg="robotis_mini_control" type="walker.py" output="screen" args="--real"/>
</launch>
