<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotis_mini">

  <xacro:include filename="$(find robotis_mini_ros)/urdf/components.urdf.xacro"/> 

  <xacro:macro name="left_hand" params="name parent_link">
    <xacro:robotis_mini_link name="${name}_l1" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPO-5(GR).stl"/>
    <xacro:robotis_mini_fixed_joint name="${parent_link}_to_{name}_l1" parent_link="${parent_link}" child_link="${name}_l1" origin_xyz="0 0.002 0" origin_rpy="0 ${PI/2.0} 0" />
    
    <xacro:robotis_mini_link name="${name}_l2" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPO-5(GR).stl"/>
    <xacro:robotis_mini_fixed_joint name="${name}_l1_to_{name}_l2" parent_link="${name}_l1" child_link="${name}_l2" origin_xyz="0 0.003 0" origin_rpy="0 0 0" />
    
    <xacro:robotis_mini_link name="${name}_l3" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPD-3B5(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="${name}_l2_to_{name}_l3" parent_link="${name}_l2" child_link="${name}_l3" origin_xyz="0 0.0045 0" origin_rpy="0 0 0" />    
    
    <xacro:robotis_mini_link name="${name}_l4" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPL-2B2(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="${name}_l3_to_{name}_l4" parent_link="${name}_l3" child_link="${name}_l4" origin_xyz="-0.018 0.0013 0.009" origin_rpy="${PI/2.0} 0 0" />    
    
    <xacro:robotis_mini_link name="${name}_l5" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPD-3B5(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="${name}_l3_to_{name}_l5" parent_link="${name}_l3" child_link="${name}_l5" origin_xyz="0 0.005 0" origin_rpy="0 0 0" />
    
    <xacro:robotis_mini_link name="${name}_l6" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPL-2B2(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="${name}_l6_to_{name}_l4" parent_link="${name}_l3" child_link="${name}_l6" origin_xyz="-0.004 0.0013 -0.012" origin_rpy="${PI/2.0} ${-PI/2.0} 0" /> 
    
    <xacro:robotis_mini_link name="${name}_l7" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPL-2B2(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="${name}_l7_to_{name}_l4" parent_link="${name}_l3" child_link="${name}_l7" origin_xyz="0.008 0.0013 -0.012" origin_rpy="${PI/2.0} ${-PI/2.0} 0" /> 

    <xacro:robotis_mini_link name="${name}_l8" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPD-4B5(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="${name}_l7_to_{name}_l8" parent_link="${name}_l7" child_link="${name}_l8" origin_xyz="-0.001 0.006 -0.015" origin_rpy="0 ${PI/2.0} ${PI/2.0}" />
    
    <xacro:robotis_mini_link name="${name}_l9" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPL-2B2(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="${name}_l8_to_{name}_l9" parent_link="${name}_l8" child_link="${name}_l9" origin_xyz="0.022 -0.0013 -0.006" origin_rpy="${-PI/2.0} 0 ${-PI/2.0}" /> 
    
    <xacro:robotis_mini_link name="${name}_l10" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPL-2B2(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="${name}_l8_to_{name}_l10" parent_link="${name}_l8" child_link="${name}_l10" origin_xyz="0.022 -0.0013 0.006" origin_rpy="${-PI/2.0} 0 ${-PI/2.0}" /> 
    
    <xacro:robotis_mini_link name="${name}_l11" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPL-2B2(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="${name}_l9_to_{name}_l11" parent_link="${name}_l9" child_link="${name}_l11" origin_xyz="0.003 0 -0.003" origin_rpy="${PI} ${PI/2.0} 0 " /> 
    
    <xacro:robotis_mini_link name="${name}_l12" origin_xyz="0 0 0" origin_rpy="0 0 0" mesh_file="SPL-2B2(W).stl"/>
    <xacro:robotis_mini_fixed_joint name="${name}_l10_to_{name}_l12" parent_link="${name}_l10" child_link="${name}_l12" origin_xyz="0.003 0 -0.003" origin_rpy="${PI} ${PI/2.0} 0" /> 
    
  </xacro:macro>
</robot>
